body{
    background-color: #FFF7D1;
}
.heading{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    height: 4vw;
    width: 50vw;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    text-align: center;
    align-content: center;
    color: #563A9C;
}
.main{
    height: 35vw;
    width: 80vw;
    margin-top: 40px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: center;
    align-content: center;
}
.player-info{
    height:10vw;
    width: 10vw;
    margin-left: -10px;
    align-items: center;
    align-content: center;
    display: flex;
    flex-wrap: wrap;
    }
.info{
    height:3vw;
    width:4vw;
    font-size: 50px;
    text-align: center;
    align-content: center;
    margin-top: auto;
    margin-left: auto;
    cursor:disabled;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.board{
    height:25vw;
    width:30vw;
    margin-right: auto;
    margin-left: auto;
    display: flex;
    flex-wrap:wrap;
    margin-left:400px;
}
.container{
    height:7vw;
    width: 8vw;
    background-color: #FAB12F;
    margin: auto;
    border-radius: 10px;
    text-align: center;
    align-content: center;
    font-size: 60px;
    cursor: pointer;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.winner{
    font-size: 50px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    display: block;
    height: 290px;
    width: 350px;
    margin-left: 600px;
    position: absolute;
    background-color: #D0E8C5;
    background-color: transparent;
    backdrop-filter: blur(5px);
    text-align: center;
    align-content: center;
    display: none;
}
.reset{
    height: 35px;
    width:80px;
    font-size: 20px;
    border-radius: 10px;
    text-align: center;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    color:blueviolet;
    border: 1px solid blueviolet;
    background-color:#FDDBBB;
    cursor: pointer;
    margin-left: 10px;
    margin-top: 10px;
    font-weight: bold;
}
@media only screen and (max-width: 408px) {
    body{
        background-color: #0B192C;
    }
   .main{
    height: 500px;
    display: grid;
    width: auto;
   }
   .heading{
    height: 40px;
    width: 200px;
    font-size: 30px;
    color: #FFF4B7;
   }
   .player-info{
    display: grid;
    height: 150px;
    width: 200px;
    display: flex;
    flex-wrap:wrap;
    margin-top: -300px;
    margin-left: 100px;
    align-content: center;
    align-items: center;
    position: fixed;
    justify-content: center;
   }
   .reset{
    background-color: #0B192C;
   }
   .info{
    height: 50px;
    width: 50px;
    margin: 10px;
    display: flex;
    background-color: white;
    border-radius: 10px;
    align-items: center;
    justify-content: center;
    background-color: #D8D8D8;
    }
   .board{
     margin-top:200px;
     margin-left: 90px;
     height:200px;
     width: 200px;
   }
   .container{
    height:13vw;
    width: 14vw;
    font-size: 35px;
    background-color:#B9B4C7;
   }
   .winner{
    height: 43vw;
    width: 44vw;
    margin-left: 100px;
    margin-top: 200px;
    font-size: 20px;
    display: none;
    backdrop-filter: blur(10px);
    border: 2px solid black;
   }
}
